<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lbconsulting.password2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_passwords"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-kz0qsqlw52f41cy" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.lbconsulting.password2.database.PasswordsContentProvider"
            android:authorities="com.lbconsulting.passwords2.contentprovider"
            android:exported="false"/>

        <service
            android:name=".services.UpdateService"
            android:exported="false" />

        <service
            android:name=".services.UploadService"
            android:exported="false" />

    </application>

</manifest>
